/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Monschone";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MonschoneRegular.woff2") format("woff2");
  }

  /* @font-face {
        font-family: "Mont";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("fonts/Mont-ExtraLight.woff2") format("woff2");
    }

    @font-face {
        font-family: "Mont";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url("fonts/Mont-Heavy.woff2") format("woff2");
    } */
}

/* Defaults */
body {
  @apply font-primary font-normal;
  --header-height: 120px;
}

@media (max-width: 767px) {
  body {
    --header-height: 80px;
  }
}

/* Typography */
.wae-h1 {
  @apply text-[40px] leading-normal sm:text-5xl md:text-6xl 2xl:text-8xl;
}

.wae-h2 {
  @apply text-[32px] leading-normal md:text-4xl lg:text-[58px];
}

.wae-h3-lg {
  @apply text-[32px] leading-normal md:text-4xl lg:text-5xl;
}

.wae-h3 {
  @apply text-[32px] leading-normal md:text-4xl lg:text-[40px];
}

.wae-h4 {
  @apply text-2xl leading-normal md:text-3xl lg:text-4xl;
}

.wae-h5-lg {
  @apply text-2xl leading-normal md:text-[32px];
}

.wae-h5 {
  @apply text-3xl;
}

.wae-h6-lg {
  @apply text-base md:text-xl lg:text-2xl;
}

.wae-h6 {
  @apply text-base lg:text-xl;
}

/* Spacing */
.wae-pt-lg {
  @apply pt-20 md:pt-[120px] lg:pt-[180px];
}

.wae-pb-lg {
  @apply pb-20 md:pb-[120px] lg:pb-[180px];
}

.wae-mt-lg {
  @apply mt-20 md:mt-[120px] lg:mt-[180px];
}

.wae-mb-lg {
  @apply mb-20 md:mb-[120px] lg:mb-[180px];
}

.wae-pt-md {
  @apply pt-14 lg:pt-[140px];
}

.wae-pb-md {
  @apply pb-14 lg:pb-[140px];
}

.wae-mb-md {
  @apply mb-14 lg:mb-[140px];
}

.wae-gap-lg {
  @apply gap-20 lg:gap-[180px];
}

/* Buttons */
.wae-btn {
  @apply inline-flex min-h-8 cursor-pointer items-center justify-center rounded-xl border bg-transparent text-center transition-colors hover:bg-gray-400/10 active:bg-gray-400/20 md:min-h-12;
}

.wae-btn-dark {
  @apply border-white bg-black text-white hover:bg-gray-700 active:bg-gray-800;
}

.wae-btn-light {
  @apply border-black bg-white text-black hover:bg-black hover:text-white active:bg-gray-300;
}

.wae-btn-pill {
  @apply rounded-full;
}

.wae-btn-md {
  @apply min-h-10 md:min-h-[54px];
}

.wae-btn-lg {
  @apply min-h-10 md:min-h-16;
}

.carousel-nav-btn {
  @apply flex h-8 w-8 items-center justify-center md:h-12 md:w-12;
}

/* Tabs */
.wae-tabs .mantine-Tabs-list {
  @apply mb-5 rounded-xl border border-white/20 p-2;
}

.wae-tabs .mantine-Tabs-tab {
  @apply h-10 flex-1 rounded-lg text-xl md:h-16;
}

.wae-tabs .mantine-Tabs-tab:not([data-active]):hover {
  @apply bg-gray-800 text-white;
}

.wae-tabs [data-active] {
  @apply bg-white text-black;
}

/* Input */
.wae-input {
  @apply h-10 w-full border-b border-white/20 bg-transparent px-4 py-2 text-xl focus:border-b-white focus:outline-none md:h-16;
}

/* FullscreenSlider */
.indicator-dot[data-active="true"] {
  @apply bg-[#d9d9d9];
}

/* Utilities */
.prefix-dot {
  @apply mr-2 inline-block h-[10px] w-[10px] flex-shrink-0 rounded-full bg-current align-middle md:h-4 md:w-4;
}
